rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test/{docId} {
      allow read: if true;
    }
    match /schools/{schoolId} {
      allow read: if true;
      allow write: if request.resource.data.sekolah != null && request.resource.data.updatedAt is string;
    }
  }
}
